<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            {% for light in lights['lights'] %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ light }}</h5>
                        <!-- <p class="card-text">{{ lights['lights'][light] }}</p> -->
                        <div class="custom-control custom-switch">
                            {% if lights['lights'][light] == True %}
                            <h1>Open</h1>
                            {% else %}
                            <h1>Close</h1>
                            {% endif %}
                            <a href="/lights?{{ light }}=on"><button type="button" class="btn btn-success">Success</button></a>
                            <a href='/lights?{{ light }}=off'><button type="button" class="btn btn-danger">Danger</button></a>
                        </div>
                    </div>
                </div>              
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>